<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <h1><%=title%></h1>
    <nav class="navbar navbar-expand-sm bg-light">
      <ul class="navbar-nav">
        <h3>API</h3>
        <li class="nav-item">
          <a class="nav-link" href="/">Link 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/vacation">vacation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users">users</a>
        </li>
      </ul>
    </nav>

    <br />
  </body>
</html>
